@tailwind components;

.flex-center {
  @apply flex items-center justify-center;
}

.grid-center {
  @apply grid place-items-center;
}

/* custom for calendar */
.rdp {
  --rdp-cell-size: 40px !important;
  --rdp-accent-color: #0000ff;
  --rdp-background-color: #e7edff;
  /* Switch to dark colors for dark themes */
  --rdp-accent-color-dark: #3003e1;
  --rdp-background-color-dark: #180270;
  /* Outline border for focused elements */
  --rdp-outline: 2px solid var(--rdp-accent-color);
  /* Outline border for focused and selected elements */
  --rdp-outline-selected: 2px solid rgba(0, 0, 0, 0.75);
}

.rdp .rdp-multiple_months {
  width: 100%;
}

.rdp-months {
  display: flex;
  justify-content: space-around;
}

.rdp-caption_label {
  font-size: 16px !important;
  font-weight: 500 !important;
  z-index: 0 !important;
}

.rdp-head_cell {
  font-size: 10px;
  font-weight: 400;
}

.rdp-cell {
  max-width: var(--rdp-cell-size);
  height: 100%;
  height: var(--rdp-cell-size);
  padding: 0;
  text-align: center;
}

.rdp-day_selected,
.rdp-day_selected:focus-visible,
.rdp-day_selected:hover {
  color: var(--black-100) !important;
  opacity: 1;
  background-color: var(--grey-100) !important;
}

.rdp-day {
  font-size: 14px !important;
  font-weight: 500;
}

.rdp-day_range_start,
.rdp-day_range_start:focus-visible,
.rdp-day_range_start:hover,
.rdp-day_range_end,
.rdp-day_range_end:focus-visible,
.rdp-day_range_end:hover {
  color: var(--white) !important;
  background-color: var(--black-100) !important;
  border-radius: 50% !important;
}

.rdp-day_range_start,
.rdp-day_range_start:focus-visible,
.rdp-day_range_start:hover,
.rdp-day_range_end,
.rdp-day_range_end:focus-visible,
.rdp-day_range_end:hover {
  color: var(--white) !important;
  background-color: var(--black-100) !important;
  border-radius: 50% !important;
}

.rdp-button[disabled]:not(.rdp-day_selected) {
  opacity: 0.25;
  text-decoration: line-through;
}

:where(.css-dev-only-do-not-override-stni74).ant-btn-primary {
  color: #fff;
  background-color: #1677ff !important;
  box-shadow: 0 2px 0 rgb(5 145 255 / 10%);
}

.ReactModal__Body--open {
  overflow: hidden;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: all 200ms ease-in-out;
  z-index: 99999;
  backdrop-filter: none !important;
  background-color: rgb(34 34 34 / 50%) !important;
}

.ReactModal__Content {
  transform: translateY(100%) !important;
  transition: all 400ms ease-in-out;
  opacity: 0;
}

.ReactModal__Content--after-open {
  transform: translateY(-50%) !important;
  opacity: 1;
}
.ReactModal__Content--before-close {
  transform: translateY(100%) !important;
  opacity: 0;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
