@import 'react-day-picker/dist/style.css';
@import 'semantic-ui-css/semantic.min.css';
@import 'react-toastify/dist/ReactToastify.css';

@tailwind base;
@import './custom.css';
@import './header.css';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  --primary-pink: #ff385c;
  --white: #ffffff;
  --black-100: #000000;
  --black-200: #222222;
  --grey-100: #f7f7f7;
  --grey-200: #ebebeb;
  --grey-300: #dddddd;
  --grey-400: #b0b0b0;
  --grey-500: #717171;
  --red-100: #c13515;
  --red-200: #b32505;
  --skintone: #fff8f6;
  --orange-100: #e07912;
  --green: #008a05;
  --blue: #428bff;
  --purple-100: #92174d;
  --purple-200: #460479;
  --linear-gradient-100: linear-gradient(to right, #e61e4d 0%, #e31c5f 50%, #d70466 100%);
  --linear-gradient-200: linear-gradient(to right, #bd1e59 0%, #92174d 50%, #861453 100%);
  --linear-gradient-300: linear-gradient(to right, #59086e 0%, #460479 50%, #440589 100%);
  --linear-radial-100: radial-gradient(
    circle at center,
    #ff385c 0%,
    #e61e4d 27.5%,
    #e31c5f 40%,
    #d70466 57.5%,
    #bd1e59 75%,
    #bd1e59 100%
  );
  --linear-radial-200: radial-gradient(
    circle at center,
    #d70466 0%,
    #bd1e59 30%,
    #92174d 55%,
    #861453 72.5%,
    #6c0d63 90%,
    #6c0d63 100%
  );
  --linear-radial-300: radial-gradient(
    circle at center,
    #6c0d63 0%,
    #59086e 30%,
    #460479 55%,
    #440589 72.5%,
    #3b07bb 90%,
    #3b07bb 100%
  );
  --font-sans: 'Roboto', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 0 0;
  margin: 0 0;
}

ul,
li {
  list-style: none;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.max-width-1440 {
  max-width: 1440px;
}

/* Typography */

.h0 {
  @apply text-3xl font-bold md:text-5xl;
}

h1,
.h1 {
  @apply text-2xl font-bold md:text-4xl;
}

h2,
.h2 {
  @apply text-xl font-bold md:text-3xl;
}

h3,
.h3 {
  @apply text-lg font-bold md:text-2xl;
}

h4,
.h4 {
  @apply text-base font-bold md:text-base;
}

h5,
.h5 {
  @apply text-base font-bold;
}

body,
.p {
  @apply text-sm md:text-base;
}

.rdp-day_selected,
.rdp-day_selected:focus-visible,
.rdp-day_selected:hover {
  color: white;
  opacity: 1;
  background-color: var(--primary-pink);
}

@layer base {
  .box-shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .inputField {
    @apply block border-[1px] border-grey-300 w-full px-4 py-3;
  }
}

@tailwind components;
@tailwind utilities;
