@tailwind base;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root {
  --pink: #ff395c;
  --white: #ffffff;
  --black: #222222;
  --very-light-grey: #eaeaea;
  --light-grey: #dddddd;
  --grey: #5a5a5a;
  --med-grey: #717171;
  --red: #ff0000;
  --font-sans: 'Roboto', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 0 0;
  margin: 0 0;
}

ul,
li {
  list-style: none;
  margin-top: 5px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.max-width-1440 {
  max-width: 1440px;
}

/* Typography */

.h0 {
  @apply text-3xl font-bold md:text-5xl;
}

h1,
.h1 {
  @apply text-2xl font-bold md:text-4xl;
}

h2,
.h2 {
  @apply text-xl font-bold md:text-3xl;
}

h3,
.h3 {
  @apply text-lg font-bold md:text-2xl;
}

h4,
.h4 {
  @apply text-base font-bold md:text-base;
}

h5,
.h5 {
  @apply text-base font-bold;
}

body,
.p {
  @apply text-sm md:text-base;
}

.rdp-day_selected,
.rdp-day_selected:focus-visible,
.rdp-day_selected:hover {
  color: white;
  opacity: 1;
  background-color: var(--pink);
}

@layer base {
  .pinkButton {
    @apply py-2 px-4 bg-pink rounded text-white;
  }

  .boxShadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .inputField {
    @apply block border-[1px] border-medGrey w-full px-4 py-3;
  }
}

@tailwind components;
@tailwind utilities;
